# make a gitignore for a django project

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.env

# Django
db.sqlite3
*.log
media/
staticfiles/
*.pot
*.mo

# Environments
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime*

# Byte-compiled / optimized / DLL files
*.py[cod]

# Pytest cache
.pytest_cache/

# Migrations
# **/migrations/*.py
# !**/migrations/__init__.py

# Jupyter Notebook
.ipynb_checkpoints

# Coverage
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
.vercel
