.mapholder{
    height: 50px;
    width: 50%;
}

#map{
    height: 50%;
}

.navbar {

    background: #0a9396;
    padding: 20px;

}-----------

.navbar ul{
    display: flex;
    justify-content: space-between;
}

